
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whatsapp-icon-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2000;
}

.whatsapp-icon-container .whatsapp-overlay {
  width: 60px;
    height: 60px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    display: inline-block;
}

.whatsapp-icon-container .whatsapp-icon {
  margin-top: 13px;
  margin-left: 1px;
}

.whatsapp-icon-container:hover {
  scale: 1.1;
  transition: all 0.3s ease;
}
nav {
    background-color: #18181A;
    backdrop-filter: blur(18px) saturate(180%);
    display: flex;
    align-items: center;
    padding: 0 32px;
    top: 0;
    position: sticky;
    justify-content: space-between;
    transition: all 0.5s ease;
    z-index: 1100;
}

nav .logo {
    display: flex;
}

nav .logo img {
    width: 190px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: #ccc;
    font-weight: 600;
    padding: 8px 0;
    transition: all 0.5s ease;
    border-bottom: 3px solid #cccccc00;

    
}

.navbar ul li a.active,
.navbar ul li a:hover {
  color: #088A93;
  border-bottom: 3px solid #088A93;
}

.main {
  position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-position: center top;
    color: #fff;
}

  .main-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg,#2a2a2a40 0%,#10175c 100%), url("./BG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .txt-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    z-index: 1000;
  }
.leyend {
    background-image: none;
    text-align: center;
    top: 80px;
    position: absolute;
}

.leyend h1 {
  font-size: 50px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 6px 6px 3px #10175ce6 ;
}
.lynd-txt {
    font-size: 25px;
}

.contact-bttn {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: #00000040;
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     #0f1657 0%,
     #0e4071 8%,
     #0e4071 92%,
     #0f1657 100%
   );
 }
 
 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 22px;
  color: #0b6481;
  background: hsl(0, 0%, 90%);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }
 
 .contact-bttn:hover {
  filter: brightness(110%);
 }
 
 .contact-bttn:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .contact-bttn:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 .contact-bttn:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 .contact-bttn:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 .contact-bttn:focus:not(:focus-visible) {
  outline: none;
 }

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  z-index: 1100;
}

  .title {
    position: relative;
    font-size: 50px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-shadow: 4px 4px 3px #ccc ;
    display: flex;
    justify-content: center;
    color: #10175c;
    margin-top: 0;
    padding-top: 30px;
    z-index: 1002;
  }

  .cont {
    justify-self: center;
    max-width: 450px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 100%;
    place-items: center;
    padding: 40px;
    z-index: 1001;
  }

  .content-img {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 0;
    max-width: 100px;
  }

  .TXT-IMG {
    font-size: 58px;
    color: #10175c;
  }

  .content-container{ 
    margin: 0 auto;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #666;
    font-size: 18px;
    line-height: 2em;
    max-width: 300px;
  }

  .content-container p {
    margin: 0;
  }
  
  .cont1, .cont3 {
    margin-left: 100px;
  }

  .cont2, .cont4 {
    margin-right: 100px;
  }

  .services {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
  }

  .services-title {
    position: absolute;
    display: inline-block;
    align-self: start;
    color: #2a2a2a;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
    margin-top: 0;
  }

  .container{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  }

  .container .card{
  position: relative;
  cursor: pointer;
  }

  .container .card .face{
  width: 300px;
  height: 220px;
  transition: 0.5s;
  }
  
  .container .card .face.face1{
  position: relative;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(120px);
  }

  .container .card .face.face1 .content{
  opacity: 0.5;
  transition: 0.5s;
  }

  .container .card .face.face1 .content img{
  max-width: 100px;
  }
  .container .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 30px;
  }
  .container .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  }

  .container .card .face.face2 .content p{
  margin: 0;
  padding: 0;
  font-size: 85%;
  }
  .container .card .face.face2 .content a{
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #2a2a2a;
  padding: 5px;
  border: 1px solid #2a2a2a;
  position: relative;
  left: 60px;
  transition: all 0.3s ease-in;

  }

  .container .card .face.face2 .content a:hover {
    scale: 1.1;
    background-color: #2a2a2a;
    color: #FFF;
    border: 1px solid #FFF;
    transition: all 0.3s ease-in;
  }

  .container .card.expanded .face.face1 {
    background: #10175c;
    transform: translateY(0);
  }
  
  .container .card.expanded .face.face2 {
    transform: translateY(0);
  }

  .social-media {
    display: inline-block;
    position:absolute;
    top:490%;
    left:50%;
    -ms-transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    text-align: center;
  }
  
  .icon {
    color: #FFF;
    background: none;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    position: relative;
    display: inline-block;
    width:40px;
    height:28px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
     -webkit-font-smoothing: antialiased;
  }
  
  .icon:hover {
    background: #f9faf8;
    color: #10175c;
  }

  .contact .social-media span {
    color:#2a2a2a;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .contact .social-media a span:before {
    content:'';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
  }

  .contact .social-media a:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
  }

  ul { list-style-type: none; }
  
  .faq {
  background-color: #fff;
  padding-bottom: 40px;
  }

  .faq h3 {
    color: #2a2a2a;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    padding-top: 100px;
    margin-top: 0;
  }
  
  .accordion {
    width: 100%;
    max-width: 960px;
    padding-left: 0px;
    margin: 30px auto 20px;
    background: #2a2a2a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #ccc;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
    position: absolute;
    top: 18px;
    left: 12px;
    font-size: 20px;
    color: #ccc;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }
  
  .accordion li.open .link { 
    color: #fff;
    background-color: #10175c;
    transition-delay: 0.5s;
    border-bottom: 1px solid #fff;
  }
  
  .accordion li.open i { 
    color: #fff;
    transition-delay: 0.5s;
  }
  
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .accordion li.open .submenu li { 
    color: #fff; 
    background-color: #10175c;
    transition: background 0.5s ease, color 0.5s ease;
    transition-delay: 0.5s;
    padding-left: 20px;
    } 

  .submenu {
    display: none;
    background: #2a2a2a;
    font-size: 20px;
    padding: 0;
  }
  
  .submenu li { border-bottom: 1px solid #10175c; }
  
  .submenu li {
    display: block;
    text-decoration: none;
    color: #ccc;
    padding: 12px;
    padding-left: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }

  .contact {
    background-image: linear-gradient(180deg,#2a2a2a40 0%,#000 100%) ,url(./Contact-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 96vh;
  }
  .contact-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
  }
  
  .contact-title {
    font-size: 60px;
    margin-bottom: 20px;
  }
  
  .contact-txt p {
    font-size: 30px;
  }

  .wpp-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#25d366;
    font-size: 100px;
  }

  .wpp-logo img {
    width: 100px;
  }
  .wpp-number {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    flex-direction: column;
    font-size: 30px;
  }
  
  .wpp-number p {
    margin: 0;
    font-size: 30px;
    padding-top: 10px;
  }

  .wpp-number h3 {
    margin-bottom: 10px;
  }

  .mail-bttn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mail-bttn a{
    margin: 15px 0 0;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    padding: 10px;
    border: 1px solid #fff;
    position: relative;
    transition: all 0.3s ease-in;
    font-size: 26px;
    }
  
  .mail-bttn a:hover {
    background-color: #10175c;
    border: 2px solid #fff;
    color: #fff;
    scale: 1.1;
    transition: all 0.3s ease-in;
  }
